body {
  background-color: #111;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 3px;
  display: none;
}

.dropdown {
  background-color: black;
  padding: 8px;
  border-radius: 4px;
  width: 100px;
}

.dropdown span {
  cursor: pointer;
}

.original__movies {
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile:hover .dropdown-container {
  display: block;
}

.original__movies,
.movies__container {
  padding-left: 50px;
  display: flex;
  overflow-x: scroll;
  overflow: hidden;
}

.original__movies::-webkit-scrollbar {
  display: none;
}

.original__movies img {
  margin-right: 10px;
  height: 250px;
  width: auto;
}

.original__movies img,
.movies__container img {
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.original__movies img:hover,
.movies__container img:hover {
  transform: scale(1.1);
}

.movies__container img {
  margin-right: 10px;
  width: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
}

.logo > img {
  width: 120px;
}

.profile {
  position: relative;
}
